<div class="card">
  <%=@card.definition%>
  <br>
  <div class="errors">
    <%if @errors%>
      <% @errors.each do |error| %>
        <%= error %>
      <%end%>
    <%end%>
  </div>
  <br>
  <form class="card-form" action="/rounds/<%=@round.id%>" method="POST">
  <input class="input" type="text" name="word" placeholder="enter answer">
  <input class="submit-button" type="submit" value="submit">
  </form>
  <br>
  <%=@message%>
  <br><br>
  <button>show answer: </button>
    <div class="card-answer">
      <%=@card.word%>
    </div>
</div>