<div class="show-username">
  <li>Hello  <%= current_user.username %></li> <br>
  <p class="user-bio">Your Bio: <br><br><%=current_user.description%></p>
</div>
<li class="your-stats">Your Stats: </li>
<br>
<table class="user-data">
  <tr>
    <th class="round-name-title">Round Name</th>
    <th>First Try Ratio</th>
    <th>Total Guesses</th>
  </tr>
  <% @rounds.each do |round| %>
  <tr>
    <td class="round-name"><%= round.name %></td>
    <td class="round-percent"><%= round.first_try_percentage %></td>
    <td class="round-guesses"><%= round.total_guesses%></td>
  </tr>
  <%end%>
</table>
